html {
  /* 10px */
  font-size: 62.5%;
  /* 1.4rem * 10px = 14px */
  --font-14: 1.4rem;
  /* 1.6rem * 10px = 16px */
  --font-16: 1.6rem;
  /* 2.4rem * 10px = 24px */
  --font-24: 2.4rem;
  /* 3.2rem * 10px = 32px */
  --font-32: 3.2rem;

  --text-color: #282828;
  --white-color: #ffffff;

  --primary-button-bg-color: #11b3fe;
  --hover-button-bg-color: #0095e0;

  --input-stroke-color: #e3ebef;
  --input-fill-color: #f6f7f8;

  --arrow-color: #80a2b6;

  --border-corner: 5px;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color);
}
